{{define "Home"}}

<!DOCTYPE html>
<html lang="pt-br">

{{template "_head"}}

<nav class="navbar navbar-light bg-light mb-4">
  <a class="navbar-brand" href="http://{{.Ip}}{{.Port}}/files/upload.html">Voltar ao formulário</a>
</nav>

<body>
  <div class="container">
    <section class="card">
      <div>
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Tamanho</th>
              <th>Modificado</th>
            </tr>
          </thead>
          <tbody>
            {{range .Files}}
            <tr>
              <td>{{.Name}}
      </div>
      </td>
      <td>{{.Size}} KBs</td>
      <td>{{.Modified}}</td>
      <td><button onclick="Download('{{.Name}}')" class="btn btn-primary">Baixar</button></td>
      <td><button onclick="onDelete('{{.Name}}')" class="btn btn-danger">Deletar</button></td>
      </tr>
      {{end}}
      </tbody>
      </table>
  </div>
  </section>
  </div>
</body>
<script>
  function Download(name) {
    let url = "http://{{.Ip}}{{.Port}}/files/download?file=" + name
    let options = {
      method: 'GET',
      cors: "no-cors",
      cache: 'no-cache',
      headers: {
        "Accept-Language": "*",
        "Accept-Charset": "utf-8",
        "Content-Language": "*"
      }
    };

    let strMimeType;
    let strFileName;

    //Perform a GET Request to server
    fetch(url, options)
      .then(function (response) {
        let contentName = response.headers.get("Content-Disposition"); //Get File name from content type
        strMimeType = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
        strFileName = contentName.split(";")[1].split('"')[1];
        console.log(strFileName);
        return response.blob();

      }).then(function (myBlob) {
        let downloadLink = window.document.createElement('a');
        downloadLink.setAttribute('href', 'data:application/octet-stream;charset=utf-8');
        downloadLink.href = window.URL.createObjectURL(new Blob([myBlob], {type: strMimeType, endings: 'transparent', charset: 'UTF-8'}));
        downloadLink.download = strFileName;
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      }).catch((e) => {
        console.log("e", e);
      });
  }

  function onDelete(name) {
    let resposta = confirm("Deseja mesmo deletar o arquivo de nome " + name + "?")
    if (resposta) {
      fetch('http://{{.Ip}}{{.Port}}/files/delete?file=' + name, {
        method: 'DELETE',
        headers: {
          "Accept": "*/*",
        },
        credentials: 'include',
      })
        .catch(error => {
          console.error('Error sending data:', error);
        });

      location.reload()
    }
  }
</script>

</html>
{{end}}
